:local(.container) {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.inner) {
  width: 400px;
}

:local(.tos) {
  font-size: 13px;
}

:local(.buttonsContainer) {
  margin-top: 30px;
  text-align: center;
}

:local(.error) {
  color: red;
  text-align: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

:local(.social-button) {
  color: white;
  margin-bottom: 10px;
  width: 100%;
}

:local(.facebook) {
  composes: social-button;
  background-color: #3b5998;
}

:local(.facebook):active {
  background-color: #324d86;
}

:local(.google) {
  composes: social-button;
  background-color: #db4437;
}

:local(.google):active {
  background-color: #af352a;
}

:local(.linkedin) {
  composes: social-button;
  background-color: #0077b5;
}

:local(.linkedin):active {
  background-color: #0a699a;
}

:local(.social) {
  margin-bottom: 30px;
}
